image: debian:stable-slim

variables:
  HUGO_VERSION: "0.152.0"

before_script:
  - apt-get update && apt-get install -y curl git tar bash
  - curl -LO https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_Linux-64bit.tar.gz
  - tar -xzf hugo_extended_${HUGO_VERSION}_Linux-64bit.tar.gz
  - chmod +x hugo
  - mv hugo /usr/local/bin/
  - hugo version
  - git submodule update --init --recursive

pages:
  stage: deploy
  script:
    - hugo --minify
  artifacts:
    paths:
      - public
  only:
    - main
