image: klakegg/hugo:ext-alpine

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  entrypoint: [""]

test:
  script:
    - hugo
  except:
    - master

pages:
  script:
    - hugo
  artifacts:
    paths:
      - public
  only:
    - master
