image: alpine:latest

variables:
  HUGO_VERSION: "0.152.0"

before_script:
  # Cài các tool cơ bản
  - apk add --no-cache curl tar git bash
  # Tải Hugo Extended bản Linux 64bit
  - curl -LO https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_Linux-64bit.tar.gz
  - tar -xzf hugo_extended_${HUGO_VERSION}_Linux-64bit.tar.gz
  - mv hugo /usr/local/bin/hugo
  - hugo version
  # Đồng bộ submodule theme (nếu dùng submodule)
  - git submodule update --init --recursive

pages:
  stage: deploy
  script:
    - hugo --minify
  artifacts:
    paths:
      - public
  only:
    - main
