div.highlight {
  position: relative;
}

.copy-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 3px 6px;
  font-size: 12px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

div.highlight:hover .copy-btn {
  opacity: 1;
}

.copy-btn:hover {
  background-color: #777;
}
