.markdown body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  line-height: 1.6;
}

.markdown h1 {
  text-align: center;
  text-decoration: underline;
  text-underline-position: auto;
  font-size: 3rem;
}

.markdown h2 {
  font-size: 2rem;
}

.markdown hr {
  height: 2px;
  background-color: #666699;
  margin: 4vh 0;
}

.markdown code {
  font-family: "Roboto Mono", Inconsolata, monospace;
}

/* Remove # from link */
.markdown .anchor {
  content: none;
  display: none;
}

.markdown .book-article {
  max-width: 80vw;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
  color: #333;
}

.book-menu {
  margin-left: -300px;
}

.book-toc {
  margin-right: -300px;
}
