@import "theme-blue.css";

:root {
  --MAIN-TEXT-color: rgba(
    255,
    255,
    255,
    1
  ); /* text color of content and titles */
  --MAIN-BG-color: rgba(32, 32, 32, 1); /* background color of content */
  --MAIN-TITLES-TEXT-color: rgba(
    255,
    255,
    255,
    1
  ); /* text color of titles and transparent box titles */
  --MAIN-TITLES-H1-TEXT-color: rgba(
    255,
    255,
    255,
    1
  ); /* text color of h1 titles */

  --CODE-theme: relearn-dark; /* name of the chroma stylesheet file */
  --CODE-BLOCK-color: rgba(
    248,
    248,
    242,
    1
  ); /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BG-color: rgba(
    43,
    43,
    43,
    1
  ); /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BORDER-color: rgba(
    71,
    71,
    71,
    1
  ); /* border color of block code */
  --CODE-INLINE-color: rgba(130, 229, 80, 1); /* text color of inline code */
  --CODE-INLINE-BG-color: rgba(
    45,
    45,
    45,
    1
  ); /* background color of inline code */
  --CODE-INLINE-BORDER-color: rgba(
    70,
    70,
    70,
    1
  ); /* border color of inline code */

  --MENU-SECTIONS-ACTIVE-BG-color: rgba(
    50,
    50,
    50,
    1
  ); /* background color of the active menu section */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: rgba(
    20,
    20,
    20,
    1
  ); /* Color of background for the active category (only) */
  --MENU-SECTION-ACTIVE-CATEGORY-color: rgba(
    28,
    144,
    243,
    1
  ); /* text color of the displayed menu topic */
}
