name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Lychee Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          fail: true
          args: --verbose --exclude udemy\.com ./content
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  hugo-build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
<<<<<<< HEAD
          hugo-version: "0.152.2"
=======
          hugo-version: "latest"
>>>>>>> c0ba3b1 (update ci/cd)

      - name: Build
        run: hugo --minify

<<<<<<< HEAD
      - name: Create Vercel Output Structure
        run: |
          mkdir -p .vercel/output/static

          cp -r public/* .vercel/output/static/

          echo '{"version": 3}' > .vercel/output/config.json

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: vercel-output
          path: .vercel/output

  deploy-production:
    needs: [link-check, hugo-build]
    if: github.ref == 'refs/heads/main'
=======
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hugo-site
          path: public

  deploy-production:
    needs: [link-check, hugo-build]

    if: github.ref == 'refs/heads/main'

>>>>>>> c0ba3b1 (update ci/cd)
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
<<<<<<< HEAD
          name: vercel-output
          path: .vercel/output
=======
          name: hugo-site
>>>>>>> c0ba3b1 (update ci/cd)

      - name: Install Vercel CLI
        run: npm install -g vercel@latest

      - name: Deploy to Vercel Production
        env:
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
<<<<<<< HEAD
        run: vercel deploy --prebuilt --prod --token ${{ secrets.VERCEL_TOKEN }} --yes
=======
        run: vercel deploy --prebuilt --prod --token ${{ secrets.VERCEL_TOKEN }} --scope ${{ secrets.VERCEL_ORG_ID }} --yes
>>>>>>> c0ba3b1 (update ci/cd)
